
<header id="masthead" class="site-header text-center" role="banner">
  <div class="container">
    {%- assign logo_img_is_not_empty = site.header.logo_img | is_not_empty -%}
    {%- if logo_img_is_not_empty -%}
    <a class="site-logo"  href='{{ '/' | relative_url }}' rel="home">
      <img src="{{ site.header.logo_img | relative_url }}" alt="" class="header-image" />
    </a>
    {%- endif -%}
    <div class="site-branding text-center">

        <h1 class="site-title"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
        {%- if page.layout == 'default' -%}
        <h2 class="site-description">{{- site.description | escape -}}</h2>
        {%- endif -%}
    </div>
  </div>
</header>
